/AppEnterprise/nbproject/private/
/AppFrontController/nbproject/private/
/JavaLibrary/nbproject/private/
/MarvelRestClient/nbproject/private/
/ModuloEJB/nbproject/private/
/WebRest/nbproject/private/
/AppEnterprise/build/
/AppEnterprise/dist/
/AppFrontController/build/
/AppFrontController/dist/
/JavaLibrary/build/
/JavaLibrary/dist/
/WebRest/build/
/WebRest/dist/
/ModuloEJB/build/
/ModuloEJB/dist/